@layer md-misc {

    //
    #markdown * {
        contain-intrinsic-block-size: auto 1em;
        font-size: 1em;
    }

    //
    [data-hidden] #markdown {
        display: none !important;
        content-visibility: hidden !important;
    }

    //
    [data-dragging] #markdown {
        content-visibility: hidden !important;
        :where(*) {
            content-visibility: hidden !important;
        }
    }

    //
    #markdown { font-size: 1em; isolation: isolate; touch-action: pan-y; };

}