[data-print] {
  line-height: 1.4;
  isolation: isolate;
  -webkit-font-smoothing: antialiased;
}
[data-print] *,
[data-print] *::before,
[data-print] *::after {
  box-sizing: border-box;
  white-space: normal;
}
[data-print],
[data-print] * {
  content-visibility: visible;
  max-inline-size: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
[data-print] img,
[data-print] picture,
[data-print] video,
[data-print] canvas,
[data-print] svg {
  display: inline-block;
  max-width: min(min(40%, 50dvi), 50cqi);
  width: -moz-max-content;
  width: max-content;
}
[data-print] input,
[data-print] button,
[data-print] textarea,
[data-print] select {
  font: inherit;
}
[data-print] p {
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  text-indent: 1em;
  white-space: normal;
  font-family: 10pt;
}
[data-print] h1,
[data-print] h2,
[data-print] h3,
[data-print] h4,
[data-print] h5,
[data-print] h6 {
  font-weight: bold;
  margin: 1em 0;
  text-align: start;
  text-wrap: balance;
  overflow-wrap: break-word;
  display: block;
  flex-direction: row;
  -moz-column-break-before: auto;
       break-before: auto;
  break-inside: avoid-page;
  -moz-column-break-after: avoid;
       break-after: avoid-page;
}
[data-print] h1 {
  text-align: center;
  font-size: 2em;
}
[data-print] h1,
[data-print] h2 {
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  inline-size: 100%;
}
[data-print] h2 {
  font-size: 1.6em;
}
[data-print] :not(h1) + h2 {
  -moz-column-break-before: page;
       break-before: page;
}
[data-print] h3 {
  font-size: 1.2em;
  padding-block-end: 0.2em;
  margin-block-end: 1rem;
}
[data-print] h4 {
  font-size: 1.05em;
}
[data-print] h5,
[data-print] h6 {
  font-size: 1em;
}
[data-print] #root,
[data-print] #__next {
  isolation: isolate;
}
[data-print] p,
[data-print] ol,
[data-print] ul {
  block-size: -moz-max-content;
  block-size: max-content;
  display: block;
}
[data-print] {
  white-space: normal;
  text-align: justify;
  overflow: auto;
}
[data-print] strong {
  display: inline;
  white-space: normal;
  font-weight: bold;
  break-inside: avoid-page;
  -moz-column-break-before: avoid;
       break-before: avoid-page;
  -moz-column-break-after: avoid;
       break-after: avoid-page;
}
[data-print] :where(ol, ul) {
  text-indent: 1em;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
[data-print] :where(ol, ul) :where(ol, ul) {
  text-indent: 1em;
  margin: 0;
  margin-inline-start: 1em;
}
[data-print] :where(li) {
  text-indent: 0;
}
[data-print] li {
  padding: 0;
  white-space: normal;
  list-style-position: inside;
  text-align: start;
}
[data-print] li p {
  display: inline;
  list-style-position: inside;
  white-space: normal;
}
[data-print] li::marker {
  display: inline;
  white-space: nowrap;
}
[data-print] table,
[data-print] li,
[data-print] p,
[data-print] blockquote,
[data-print] ol,
[data-print] ul {
  break-inside: avoid-page;
}
[data-print] blockquote {
  -moz-column-break-before: auto;
       break-before: auto;
  break-inside: avoid-page;
  -moz-column-break-after: avoid;
       break-after: avoid-page;
  margin-inline: 0;
}
[data-print] :not(h1, h2, h3, h4, h5, h6) + :where(ul, ol, li) {
  -moz-column-break-before: avoid;
       break-before: avoid-page;
}
[data-print] p:has(strong) {
  -moz-column-break-before: avoid;
       break-before: avoid-page;
  -moz-column-break-after: avoid;
       break-after: avoid-page;
}
[data-print] p + :not(p) {
  -moz-column-break-before: avoid;
       break-before: avoid-page;
}
[data-print] p:has(+ :not(p, h1, h2, h3, h4, h5, h6)) {
  -moz-column-break-after: avoid;
       break-after: avoid-page;
}
[data-print] .pb,
[data-print] .np,
[data-print] .pagebreak,
[data-print] .newpage,
[data-print] .page-break,
[data-print] .new-page {
  background-color: transparent;
  page-break-after: always;
  -moz-column-break-after: page;
       break-after: page;
}
[data-print] :where(ol, ul, li) + p {
  -moz-column-break-before: avoid;
       break-before: avoid-page;
}
[data-print] hr {
  display: block;
  block-size: 1px;
  margin: 0 1em;
}
[data-print] img {
  color: transparent;
  font-size: 0;
  line-height: 0;
}
[data-print] img:not([src]),
[data-print] img[src=""],
[data-print] img.error {
  display: none;
  visibility: collapse;
  content-visibility: hidden;
}
[data-print] div.hide,
[data-print] span.hide {
  display: none;
  visibility: collapse;
  content: "[...]";
  break-inside: avoid-page;
}
[data-print] table {
  inline-size: 100%;
  border-collapse: collapse;
}
[data-print] table thead,
[data-print] table tfoot,
[data-print] table tbody,
[data-print] table th,
[data-print] table td,
[data-print] table tr {
  padding: 0.2em;
}

@media print {
  @scope (:where(body, :host) :not([data-print])) to (:has(> [data-print])) {
    :scope > :where(div, img, canvas, :not(:defined)):not([data-print]):not([data-print-pass]) {
      display: none !important;
      visibility: collapse !important;
    }
  }
  body {
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  *:not(:defined),
  style,
  script,
  link {
    display: none !important;
    visibility: collapse !important;
  }
  [data-print] li,
  [data-print] ul,
  [data-print] ol {
    text-align: start;
  }
  [data-print] hr {
    background-color: transparent;
  }
  [data-print-pass] {
    display: contents !important;
    visibility: visible;
  }
}
@page {
  size: A4;
  margin: 10mm 16mm 10mm 16mm;
  @bottom-center {
    content: counter(page);
  }
}/*# sourceMappingURL=Print.css.map */